version: "3.7"

services: 
  postgres:
    image: postgres:14.4
    container_name: golink-postgres
    restart: always
    volumes:
      - ./db-scripts/:/docker-entrypoint-initdb.d/
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    networks:
      backend_services:
        aliases:
          - postgres.ps
  go-links:
    image: mcfi3rce/go-links:x86
    container_name: go
    restart: always
    ports:
      - "8080:80"
    networks: 
      backend_services:
        aliases:
          - go-links.ps

networks:
  backend_services:
